[[!meta title="Get in touch with us"]]

<div id="talk-support-list" class="three-blocks">

<h3>Public support list</h3>
[[!img lib/list.png link=no]]

<p>Subscribe to our [[user support mailing list|tails-support]].</p>

<p>This is a public mailing list, so <strong>be careful with what you
are sending</strong>. Give only the necessary informations about
yourself, and if possible use Tails or [[<span class="application">Tor Browser</span>|https://torproject.org/torbrowser/]] to hide your IP
address.</p>

</div>

<div id="talk-chat" class="three-blocks">

<h3>Chat</h3>
[[!img lib/chat.png link=no]]

<p>Join our XMPP chat room to talk to contributors and users.</p>

<ul>
  <li>server: <code>conference.riseup.net</code></li>
  <li>room: <code>tails</code></li>
  <li>use TLS/SSL to connect!</li>
</ul>

</div>

<div id="talk-email" class="three-blocks">

<h3>Email</h3>
[[!img lib/email.png link=no]]

<p>Mail us on our private mailing list:</p>

<p>[[tails-support-private@boum.org|about/contact#tails-support-private]]</p>

[[!inline pages="support/talk/languages.inline" raw="yes" sort="age"]]

<p>Encrypting your emails with our [[OpenPGP key|doc/about/openpgp_keys#support]] is the only way to achieve
end-to-end encryption.</p>

</div>
